body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gainsboro;
  margin: 0 auto;
}
input {
  width: 250px;
  border-radius: 25px;
}
div {
  margin-top: 20px;
  display: flex;
}
button {
  padding: 10px;
  background-color: lightcoral;
  outline: none;
  border-radius: 10px;
  margin-left: 15px;
}
