/* #display_1 #display_11 {
  width: 10%;
  padding: 10 1px;
  margin-top: 10px;
  font-size: 14px;
  color: red;
  display: none;
  background-color: blue;
} */
body {
  background-color: lemonchiffon;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  max-width: 80%;
  margin: 0 auto;
  /* display: flex;
  flex-direction: column; */
}

header {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.input-field {
  width: 175px;
  margin: 10px;
  margin-top: 10px;
}
.stdndetail {
  display: flex;
}
.sbjdetail {
  display: flex;
}

.name_1,
.class_1,
.tamil_1,
.english_1,
.maths_1,
.science_1,
.socialscience_1 {
  display: flex;
  flex-direction: column;
  color: red;
}

.invalid_error {
  display: none;
  padding-left: 10px;
}
.sbtbtn {
  margin: 0 auto;
  margin-top: 10px;
}
.dltbtn .editbtn {
}
.tr-section > td {
  padding-left: 10px;
}
